*{

margin:0;
padding: 0;

}


					.agency


{
		font-family: Myriad Pro;
		font-style: regular;
		width: 406px;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
	 	margin-left:38px; 
	 	margin-top: 59px; 
	 	margin-bottom:33px;	
	 		
}

/*PHOTO*/	

						.airplan
	{
		margin-left:38px; 
		margin-top: 33px; 
	 	margin-bottom:32px;	
	}

	 			.gellentesque

	 {

	width: 406px;
	height: 27px;

	margin-left:38px; 
	margin-top: 32px; 
	margin-bottom:24px;	

	font-family: arial;
	font-style: regular;
	font-size: 14px;
	line-height: 19px;
	
	display: block;
	
	/*border: solid 1px;
	color: black;*/
	}

				.text_gellentesque 

{
	width: 406px;
	height: 109px;

	margin-left:38px; 
	margin-top: 24px; 
	margin-bottom:54px;	

	font-family: arial;
	font-style: regular;
	font-size: 12px;
	line-height: 17px;
	
	display: block;
}

					.our_principles

{
		font-family: Myriad Pro;
		font-style: regular;
		width: 406px;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
	 	margin-left:38px; 
	 	margin-top: 54px; 
	 	margin-bottom:34px;	
}

				.name1, .name2, .name3

{

	width: 406px;
	margin-left:74px; 
	font-family: arial;
	font-style: regular;
	font-size: 14px;
	line-height: 19px;
	display: block;

}



				.text1, .text2, .text3

 {
	width: 406px;
	height: 60px;

	margin-left:74px; 
	margin-top: 24px; 
	margin-bottom:54px;	

	font-family: arial;
	font-style: regular;
	font-size: 12px;
	line-height: 17px;
	
	display: block;
}



/*WHAT WE OFFER*/
							.offer 

{
		font-family: Myriad Pro;
		font-style: regular;
		width: 406px;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
	 	margin-left:38px; 
	 	
	 	margin-top: 108px; 
	 	margin-bottom:29px;	

}


	.offer1
	
{
	width: 406px;
	height: 46px;

	margin-left:38px; 
	margin-top: 29px; 
	margin-bottom:26px;	

	font-family: arial;
	font-style: regular;
	font-size: 14px;
	line-height: 19px;
	
	display: block;
	}
	

.offer2

{
	width: 406px;
	height: 126px;

	margin-left:38px; 
	margin-top: 26px; 
	margin-bottom:42px;	

	font-family: arial;
	font-style: regular;
	font-size: 12px;
	line-height: 17px;
	
	display: block;

}

/*Списки*/

			.list 

{


list-style-image: url(arrow.png);

width: 406px;
margin-left:60px; 
display: block;

font-family: arial;
font-style: regular;
font-size: 14px;
line-height: 23px;
margin-top: 42px; 


}








